body {
  background-color: white;
  text-align: center;
  image-orientation: center;
}

#Header, #Footer {
  height: 20%;
}

#Footer {
	background-color: black;
	color: white;
}

#Content, #BreedsTable {
  background-image: url('blue3.jpg');
  border: 2px solid black;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

td {
  padding: 15px;
  border: 1px solid black;
}

div {
	padding: 50px;
}
