body {
  background-color: white;
  text-align: center;
  image-orientation: center;
}

#Header, #Footer {
  vertical-align: middle;
  height: 20%;
}

#Footer {
	background-color: black;
	color: white;
}

#Content {
  background-image: url('blue3.jpg');
  border: 2px solid black;
}

div {
	padding: 50px;
}
